@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/ben-rosett-10614-unsplash.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Welcome to Mastermind HR Solutions</h2>
            <p></p>
            <p>
                Mastermind HR Solutions stands for the highest standards of customer service and integrity in the
                industry. Our organization has built a reputation for professionalism in everything we do day in and
                out serving our clients in the field of HR solutions. Thus, we are widely recognised as the firm of
                choice for various HR services.
                The foundation of integrity, trust, ethics and unmovable focus on customer&#39;s profitability has
                enabled us to retain almost all its clients in the field of HR management.
                We have a panel of highly qualified, experienced &amp; senior HR &amp; Labour Laws professionals, practicing labour laws
                advocates &amp; trainers to cater to your specific needs.While all law courses are diverse in topic and function, each one
                has its own distinct benefits for the students. In general, law courses provide an opportunity to learn from
                experienced professors.
            </p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/IMG-20190514-WA0016.jpg" class="img-responsive" style="width:740px;height:450px">
            <h3>
                Girish Padte

                <small>Founder and CEO</small></br>
                <small>B.COM, DLL, DHR</small>
            </h3>
            <p>Subject matter expert who manages and runs the company.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/IMG-20190512-WA0007.jpg" class="img-responsive" style="width:740px;height:450px">
            <h3>
                D.R. Haibat
                <small>Senior Consultant</small></br>
                <small>M.COM, LL.B, DPM &Aacute; IR (HR Mgmt.)</small>
                <small>DAM (Admin, Mgmt.)</small>
            </h3>
            <p>Provides leadership and helps to expand business</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">            
            <img src="~/Images/IMG-20190629-WA0008.jpg" class="img-responsive" style="width:740px;height:450px">
            <h3>
                Shrutika Sawant
                <small>Operations Executive</small><br/>
                <small>B.COM, DHR</small>
            </h3>
            <p>Responsible person for operarional paperwork</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/IMG_20180305_210845__01.jpg" class="img-responsive" style="width:740px;height:450px">
            <h3>
                Deepak Padte
                <small>External consultant</small></br>
                <small>B.COM</small>
            </h3>
            <p>Provides valuable external insights from his vast industry experience</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>
    
</div>
